.info-div {
	padding: 20px 0px 20px 0px;
}

.skill-grid {
	padding-bottom: 100px;
}

.intro-grid {
	padding-top: 100px;
	padding-bottom: 100px;
}

.intro-anim {
	width: 100%;
	height: 100%;
}

.intro-divider {
	width: 350px !important;
	height: 2px !important;
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

.intro-second-text {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

.skill-container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.skill-divider {
	margin: 10px 0px 10px 0px !important;
	width: 100% !important;
	height: 2px !important;
}
