.intro {
	#{&}-div {
		padding: 20px 0;
	}

	#{&}-grid {
		padding: 100px 0;
	}

	#{&}-divider {
		width: 350px !important;
		height: 2px !important;
		margin: 16px 0 !important;
	}

	#{&}-second-text {
		margin: 16px 0 !important;
	}
}

.skill {
	#{&}-grid {
		padding-bottom: 100px;
	}

	#{&}-container {
		padding: 50px 0;
	}

	#{&}-divider {
		margin: 10px 0 !important;
		width: 100% !important;
		height: 2px !important;
	}
}
