@use "@izui/styles/scss/Themes";

.grid {
	padding-top: 80px;
	padding-bottom: 120px;

	@include Themes.darkMode {
		background: radial-gradient(ellipse at bottom, #841a2a, #151243 70%);
	}

	@include Themes.lightMode {
		background: radial-gradient(ellipse at bottom, #dbbdff, #e5e5e5 70%);
	}
}

.parallax {
	box-shadow: 0 0 5px 6px rgba(60, 60, 60, 0.107);
}

.typo {
	user-select: none;
	padding-top: 200px;
	padding-bottom: 200px;
}
