@use "@izui/styles/scss/Themes";

.projects {
	list-style-type: none;
	padding: 50px 0;

	@include Themes.darkMode {
		background: radial-gradient(ellipse at center, #3c0084, #0e0f14 50%);
	}

	@include Themes.lightMode {
		background: linear-gradient(144deg, white, #f4f4f4);
	}
}

.container {
	padding: 50px;
}

.divider {
	margin: 10px 0 !important;
	width: 100% !important;
	height: 2px !important;
}
