@use "@izui/styles/scss/Themes";

.skills {
	@include Themes.darkMode {
		background: radial-gradient(ellipse at top, #1b1d26, #0e0f14 70%);
	}

	@include Themes.lightMode {
		background: radial-gradient(ellipse at top, white, #e5e5e5 70%);
	}
}

.grid {
	padding-bottom: 100px;
}

.divider {
	margin: 10px 0;
	width: 100%;
	height: 2px;
}

.container {
	padding: 50px 0;
}

.article {
	padding: 20px 0;
}
