.paper {
	position: relative;
	margin-top: 12em !important;
	margin-bottom: 6em !important;
	transform: scale(0.9);
	color: black;

	h2 {
		margin-top: 1em;
		font-family: "Inknut Antiqua", serif;
	}

	p {
		font-family: "Cormorant", serif;
		font-size: 1.5em;
		padding: 2em 4em;
	}
}

.container {
	position: relative;
	background-size: 100% 100%;
	padding: 1em;
	margin: auto;
	max-width: 1000px;
}

.preview {
	position: absolute;
	top: -8%;

	img {
		width: 400px;
		height: 300px;
		border-color: #007bff;
		box-shadow: 0 0 20px #007bff;
		transition: filter .4s ease-in-out;
		filter: brightness(100%);

		&:hover {
			filter: brightness(140%);
		}
	}
}
