{
    "extends": "stylelint-config-recommended-scss",
    "plugins": ["stylelint-order"],
    "rules": {
        "indentation": "tab",
        "string-quotes": "double",
        "color-named": "always-where-possible",
        "number-leading-zero": null,
        "max-nesting-depth": null,
        "order/properties-alphabetical-order": null,
        "order/order": ["custom-properties", "declarations"],
        "order/properties-order": ["width", "height"],
        "no-descending-specificity": null,
        "no-missing-end-of-source-newline": true,
        "selector-max-compound-selectors": null,
        "selector-list-comma-newline-after": null,
        "scss/at-import-partial-extension": null
    },
    "ignoreFiles": ["**/node_modules/**/*", "**/build/**/*", "**/coverage/**/*", "**/*.{js,jsx,ts,tsx}"]
}
