{
	"extends": ["stylelint-config-recommended-scss"],
	"plugins": ["stylelint-scss", "stylelint-order"],
	"rules": {
		"color-named": "always-where-possible",
		"max-nesting-depth": null,
		"at-rule-no-unknown": null,
		"no-descending-specificity": null,
		"selector-max-compound-selectors": null,
		"order/properties-alphabetical-order": null,
		"order/order": ["custom-properties", "declarations"],
		"order/properties-order": ["width", "height"],
		"scss/at-import-partial-extension": null,
		"scss/at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
					"extends",
					"apply",
					"tailwind",
					"components",
					"utilities",
					"screen"
				]
			}
		]
	},
	"ignoreFiles": [
		"**/node_modules/**/*",
		"**/build/**/*",
		"**/coverage/**/*",
		"**/*.{js,jsx,ts,tsx}"
	]
}
