.project {
	#{&}-card {
		background-size: cover;
		border-radius: 2px;
		border-color: rgba(40, 40, 40, 1);
		border-width: 2px;
		border-style: dashed;
		box-shadow: 0 3px 5px 2px rgba(60, 60, 60, .3);
	}
	
	#{&}-card-action {
		width: 100%;
		height: 100%;
	}
}
