.skillGrid {
	padding-bottom: 100px;
}

.skillDivider {
	margin: 10px 0 !important;
	width: 100% !important;
	height: 2px !important;
}

.introGrid {
	padding: 100px 0;
}

.introDivider {
	width: 350px !important;
	height: 2px !important;
	margin: 16px 0 !important;
}

.secondText {
	margin: 16px 0 !important;
}

.container {
	padding: 50px 0;
}

.article {
	padding: 20px 0;
}
