.project-title {
    @extend .poiret-text;
    background-color: #2c2f33;
    padding: 8px 8px 8px 8px;
}

.project-modal {
    @extend .poiret-text;
}

.project-actions {
    @extend .poiret-text;
    background-color: #2c2f33; 
}

.project-icons {
    padding-top: 4px;
}

.poiret-text {
    color: rgba(220, 220, 220, 0.9);
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}