.popup {
	outline: none;
}

.modal {
	overflow: hidden;
}

.title {
	padding: 8px;
	position: static;
	overflow: hidden;
	cursor: grab;
}

.icons {
	padding-top: 4px;

	li {
		display: inline-block !important;
	}

	img {
		margin: 0 4px;
	}
}

.modalTitle {
	margin: 0 !important;
	padding: 0 !important;
}

.tooltipFab {
	margin: 0 8px !important;
}

.tooltipDrag {
	margin: 10px;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.markdown {
	article * {
		max-width: 100%;
	}

	hr {
		border-style: none;
		background-color: rgba(100, 100, 100, 0.2);
		min-height: 5px;
	}

	h1 {
		font-size: 2em;
	}

	h2 {
		font-weight: 600;
	}

	h1, h2 {
		margin: 0 0 18px 0;
		padding-bottom: .3em;
		border-bottom: 1px solid;
		border-bottom-color: rgba(100, 100, 100, 0.2);
	}

	a {
		color: rgb(77, 172, 253);
		text-decoration: none;
	}

	ul {
		margin: 18px 0;
		padding-left: 40px;
		list-style: disc;
	}
}
