@import "~App/styles/Themes";

.footer {
	@include darkMode {
		background: radial-gradient(ellipse at bottom, #23272a, #23272f);
	}

	@include lightMode {
		background: radial-gradient(ellipse at bottom, #f2f2f2, #f4f4f4);
	}
}

.icons {
	margin: 20px !important;
}

.parallax {
	padding: 10px 0 190px;
	background-color: black;
}
