@use "@izui/styles/scss/Themes";

.footer {
	@include Themes.darkMode {
		background: radial-gradient(ellipse at bottom, #23272a, #23272f);
	}

	@include Themes.lightMode {
		background: radial-gradient(ellipse at bottom, #fdfdfd, #e2e2e2);
	}
}

.icons {
	margin: 20px;
}

.parallax {
	padding: 10px 0 190px;
	background-color: black;
}
