.treeitem {
	position: relative;
	padding: 4px 0 0 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow-x: hidden;
	vertical-align: middle;
	color: white;
	fill: white;

	#{&}-title {
		vertical-align: middle;
	}

	#{&}-content {
		will-change: transform, opacity, height;
		margin-left: 6px;
		padding: 0 0 0 14px;
		border-left: 1px dashed rgba(255, 255, 255, 0.4);
		overflow: hidden;
	}

	#{&}-icon {
		width: 1rem;
		height: 1rem;
		margin-right: 10;
		vertical-align: middle;
		cursor: pointer;
	}
}
