.level { 
	width: 100%;
	height: 100%;
	background-size: cover;

	#{&}-grid-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	
	#{&}-desktop-tile-name {
		height: 150px !important;
	}
	
	#{&}-desktop-typo {
		margin-top: 40px !important;
	}
	
	#{&}-desktop-tile-player {
		width: 70% !important;
		height: 500px !important;
	}
	
	#{&}-desktop-tile-desc {
		width: 30% !important;
	}
	
	#{&}-desktop-tile-desc-typo {
		margin-left: 10px !important;
		padding-left: 10px !important;
		border-left: 3px solid red !important;
	}
	
	#{&}-mobile-name {
		font-size: 30px !important;
		color: silver !important;
		margin: 0 !important;
	}
	
	#{&}-mobile-typo {
		padding-top: 5px !important;
		border-top: 3px solid red !important;
	}
	
	#{&}-tooltip-img {
		margin: 0 4px !important;
	}
	
	#{&}-grid { 
		width: 100%;
		height: 100%;
	}
}
