.button {
	background-color: transparent !important;
	margin: 0 5px !important;
}

.typo {
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
	text-align: left !important;
	font-family: Ubuntu, sans-serif !important;
	font-size: 1em !important;
	padding-top: 5px;
}

.itemIcon {
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: 1em;
}

.icon {
	width: 30px !important;
	height: auto !important;
}
