.languagepicker {
	#{&}-button {
		background-color: transparent !important;
		margin: 0 5px !important;
	}
}

.languagepickermenu {
	#{&}-typo {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center !important;
		font-family: Ubuntu, sans-serif !important;
		font-size: 1em !important;
		padding-top: 5px;
		margin-left: 1em;
	}

	#{&}-itemicon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		margin-left: 0.5em;
	}
}

.languagepicker-icon {
	width: 30px !important;
	height: auto !important;
}
