.project-title {
    @extend .poiret-text;
    background-color: #2c2f33;
}

.project-modal {
    @extend .poiret-text;
    background-color: #23272a;
}

.project-actions {
    @extend .poiret-text;
    background-color: #2c2f33;
}

.project-close {
    position: absolute;
    right: 0;
}

.poiret-text {
    color: rgba(220, 220, 220, 0.9);
    font-family: 'Poiret One', sans-serif;
    font-size: 24px;
}