html,
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	position: relative;
	margin: 0;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

$link-color: steelblue;
$link-color-visited: rgb(136, 0, 233);
$link-color-hover: slateblue;

.link {
	color: $link-color;

	&:visited {
		color: $link-color-visited;
	}

	&:hover {
		color: $link-color-hover;
	}
}

.nolink {
	text-decoration: none !important;
}

.noselect {
	user-select: none !important;
}

.nopointer {
	pointer-events: none !important;
}

.bold {
	font-weight: bold !important;
}

.pre-line {
	white-space: pre-line !important;
}

.grecaptcha-badge {
	visibility: hidden !important;
}
