@import url("https://fonts.googleapis.com/css?family=Exo:100|Permanent+Marker|Ubuntu|Press+Start+2P|Roboto:300,400,500,700|Calligraffitti|Poiret+One|Raleway+Dots|Roboto+Mono|Raleway&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$font-sizes: (
	60px,
	24px,
	19px,
	16px,
	13px
);

.calli { font-family: "Calligraffitti", cursive !important; }
.poiret { font-family: "Poiret One", sans-serif !important; }
.ubuntu { font-family: "Ubuntu", sans-serif !important; }

@each $size in $font-sizes {
	$i: list.index($font-sizes, $size);

	.calli-h#{$i} {
		font-family: "Calligraffitti", cursive !important;
		font-size: $size !important;
	}

	.poiret-h#{$i} {
		font-family: "Poiret One", sans-serif !important;
		font-size: $size !important;
	}

	.ubuntu-h#{$i} {
		font-family: "Ubuntu", sans-serif !important;
		font-size: $size !important;
	}
}

.noselect {
	user-select: none !important;
}

.bold {
	font-weight: bold !important;
}

.pre-line {
	white-space: pre-line !important;
}

.link {
	color: steelblue;
	&:visited {
		color: rgb(136, 0, 233);
	}
	&:hover {
		color: slateblue;
	}
}
