@import url("https://fonts.googleapis.com/css?family=Exo:100|Permanent+Marker|Ubuntu|Press+Start+2P|Roboto:300,400,500,700|Calligraffitti|Poiret+One|Raleway+Dots|Roboto+Mono|Raleway&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$font-sizes: (
	60px,
	24px,
	19px,
	16px,
	13px
);

@mixin buildFont($name, $family...) {
	.#{$name} {
		font-family: $family !important;
	}

	@each $size in $font-sizes {
		$i: list.index($font-sizes, $size);
	
		.#{$name}-h#{$i} {
			font-family: $family !important;
			font-size: $size !important;
		}
	}
}

@include buildFont(calli, "Calligraffitti", cursive);
@include buildFont(poiret, "Poiret One", sans-serif);
@include buildFont(ubuntu, "Ubuntu", sans-serif);
