$queries: (
	desktop: "min-width: 1224px",
	tabletOrMobile: "max-device-width: 1224px",
	portrait: "orientation: portrait",
	retina: "min-resolution: 2dppx",
	big: "min-device-width: 1824px"
);

$sizes: (0, 25, 50, 75, 100) !default;

@mixin media($keys...) {
	@each $key in $keys {
		@media (map-get($queries, $key)) {
			@content;
		}
	}
}

@each $size in $sizes {
	.w-#{$size} {
		width: math.percentage($size);
	}
	
	.h-#{$size} {
		height: math.percentage($size);
	}
}
