@import "~App/styles/Transitions";

// name: mode
$themes: (
	light: "light",
	dark: "dark"
);

@mixin lightMode() {
	@each $theme, $mode in $themes {
		@if ($mode == "light") {
			&.#{$theme} {
				@content;
			}
		}
	}
}

@mixin darkMode() {
	@each $theme, $mode in $themes {
		@if ($mode == "dark") {
			&.#{$theme} {
				@content;
			}
		}
	}
}

@mixin theme($theme) {
	&.#{$theme} {
		@content;
	}
}
