.levels {
	#{&}-gradient-grid {
		padding: 80px 0 200px 0;
	}
	
	#{&}-container {
		padding-bottom: 90px;
	}

	#{&}-carousel-container {
		max-width: 100%;
		padding: 0;
	}
	
	#{&}-divider {
		margin: 10px 0 !important;
		width: 100% !important;
		height: 2px !important;
	}
}
