.levels-gradient-grid {
    padding: 80px 0px 200px 0px;
}

.levels-container {
    padding-bottom: 90px;
}

.levels-divider {
    margin: 10px 0px 10px 0px !important;
    width: 100% !important;
    height: 2px !important;
}