.navbar-button {
    background-color: transparent !important; 
    margin: 0 5px 0 5px !important;
}

.navbar-logo {
    padding-top: 5px; 
    user-select: none;
}

.navbar-fixed {
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 4000;
}

.navbar-absolute {
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 4000;
}