.navbar {
    background-color: rgba(50, 50, 60, 0.3) !important;
}

.contact-parallax {
    box-shadow: 0 0 5px 6px rgba(60, 60, 60, .3);
}

.contact-typo {
    user-select: none !important;
    padding-top: 200px;
    padding-bottom: 200px;
}