.mediacard {
	position: relative;
	margin: 2em;
	background-color: rgba(20, 20, 20, 0.7) !important;

	#{&}-container {
		height: 100%;
	}

	#{&}-actions {
		position: absolute;
		bottom: 0;
		left: 0;
	}

	h2 {
		text-align: center;
	}

	h2, p {
		color: gainsboro !important;
	}

	span {
		color: orange !important;
	}

	img {
		width: 100%;
		height: 200px;
		object-fit: cover;
	}
}
