@use "@izui/styles/scss/Themes";

.projects {
	@include Themes.darkMode {
		background: radial-gradient(ellipse at center, #3c0084, #0e0f14 50%);
	}

	@include Themes.lightMode {
		background: radial-gradient(ellipse at center, #7300ff, #e5e5e5 50%);
	}
}

.container {
	padding: 100px 0 20px;
}

.divider {
	margin: 10px 0;
	width: 100%;
	height: 2px;
}
