@use "~../Level.module";

.tileName {
	height: 150px;
}

.typo {
	margin-top: 40px;
}

.tilePlayer {
	width: 70%;
	height: 500px;
}

.tileDescription {
	width: 30%;
}

.tileDescriptionTypo {
	margin-left: 10px;
	padding-left: 10px;
	border-left: 3px solid red;
}
