// responsive queries
$queries: (
	desktop: "min-width: 1224px",
	tablet_mobile: "max-device-width: 1224px",
	portrait: "orientation: portrait",
	retina: "min-resolution: 2dppx",
	big: "min-device-width: 1824px"
);

@mixin media($keys...) {
	@each $key in $keys {
		@media (map-get($queries, $key)) {
			@content;
		}
	}
}

// sizes
$sizes: (0, 25, 50, 75, 100) !default;
@each $size in $sizes {
	.w-#{$size} {
		width: percentage($size);
	}
	
	.h-#{$size} {
		height: percentage($size);
	}
}
