@use "@izui/styles/scss/Themes";

.intro {
	overflow: hidden;

	@include Themes.darkMode {
		background: radial-gradient(ellipse at top, #0e0f14, #181a21);
	}

	@include Themes.lightMode {
		background: radial-gradient(ellipse at top, #e5e5e5, #f4f4f4);
	}
}

.grid {
	padding: 100px 0;
}

.divider {
	width: 350px;
	height: 2px;
	margin: 16px 0;
}

.secondText {
	margin: 16px 0;
}
