.jumbotron {
	padding: 3em;
	border-top: solid 3px #101026;
	border-bottom: solid 3px #101026;
	background-repeat: no-repeat;
	background-size: cover;

	#{&}-desc {
		margin: 1.5em 0;
		max-width: 600px;
	}
}
