.project-title {
    @extend .poiret-text;
    background-color: #202326;
    padding: 8px 8px 8px 8px;
    box-shadow: 0 8px 6px -6px black;
}

.project-modal {
    @extend .poiret-text;
}

.project-icons {
    padding-top: 4px;
}

.project-md {
    img {
        max-width: 1000px;
    }
}

.poiret-text {
    color: rgba(220, 220, 220, 0.9);
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
}