.grid {
	height: 100vh;
}

.arrow {
	cursor: pointer;
	color: gainsboro;
	margin-top: 40px;
	animation: downarrow 1s infinite alternate ease-in-out;
}

.parallax {
	box-shadow: 0 5px 6px rgba(60, 60, 60, .3);
}

@keyframes downarrow {
	0% { 
		transform: translateY(0); 
		opacity: 0.7;
	}
	100% { 
		transform: translateY(0.3em); 
		opacity: 1;
	}
}
