.calli-h1 {
    font-family: 'Calligraffitti', cursive !important;
    font-weight: bold !important;
    font-size: 60px !important;
    user-select: none !important;
}

.calli-h2 {
    font-family: 'Calligraffitti', cursive !important;
    font-weight: bold !important;
    font-size: 24px !important;
}

.calli-h3 {
    font-family: 'Calligraffitti', cursive !important;
    font-weight: bold !important;
    font-size: 19px !important;
}

.calli-h4 {
    font-family: 'Calligraffitti', cursive !important;
    font-weight: bold !important;
    font-size: 16px !important;
}

.calli-h5 {
    font-family: 'Calligraffitti', cursive !important;
    font-weight: bold !important;
    font-size: 13px !important;
}

.poiret-h1 {
    font-family: 'Poiret One', sans-serif !important;
    font-size: 50px !important;
    user-select: none !important;
}

.poiret-h2 {
    font-family: 'Poiret One', sans-serif !important;
    font-size: 24px !important;
}

.poiret-h3 {
    font-family: 'Poiret One', sans-serif !important;
    font-size: 19px !important;
}

.poiret-h4 {
    font-family: 'Poiret One', sans-serif !important;
    font-size: 16px !important;
}

.poiret-h5 {
    font-family: 'Poiret One', sans-serif !important;
    font-size: 13px !important;
}

.ubuntu-h1 {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 50px !important;
}

.ubuntu-h2 {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 24px !important;
}

.ubuntu-h3 {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 19px !important;
}

.ubuntu-h4 {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 16px !important;
}

.ubuntu-h5 {
    font-family: 'Ubuntu', sans-serif !important;
    font-size: 13px !important;
}

.title-color {
    color: rgba(220, 220, 220, 0.9);
}

.pre-line {
    white-space: pre-line !important;
}