.calli-title {
    @extend .title-color;
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
    font-size: 60px;
    user-select: none;
}

.calli-text {
    font-family: 'Calligraffitti', cursive;
    font-weight: bold;
    font-size: 24px;
}

.text-stroke {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.pre-line {
    white-space: pre-line;
}

.poiret-title {
    @extend .title-color;
    font-family: 'Poiret One', sans-serif;
    font-weight: bold;
    user-select: none;
}

.poiret-text {
    font-family: 'Poiret One', sans-serif;
    font-size: 24px;
}

.ubuntu-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.ubuntu-text-center {
    @extend .ubuntu-text;
    text-align: center;
}

.ubuntu-p {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 200;
    font-size: 14px;
}

.ubuntu-p-left {
    @extend .ubuntu-p;
    text-align: left;
}

.title-color {
    color: rgba(220, 220, 220, 0.9);
}