@use "@izui/styles/scss/Themes";

.gradient {
	padding: 80px 0 200px 0;
	width: 100%;

	@include Themes.darkMode {
		background: radial-gradient(ellipse at bottom, #3c0084, #0e0f14 50%);
	}

	@include Themes.lightMode {
		background: radial-gradient(ellipse at bottom, #e5e5e5, #f4f4f4);
	}
}

.container {
	padding-bottom: 90px;
}

.divider {
	margin: 10px auto;
	width: 70%;
	height: 2px;
}
