@use "@izui/styles/scss/Themes";

.gradient {
	padding: 80px 0 200px 0;
	width: 100%;

	@include Themes.darkMode {
		background: radial-gradient(ellipse at bottom, #001c51, #090a0a 50%);
	}

	@include Themes.lightMode {
		background: radial-gradient(circle at bottom, #f69100, #f4f4f4 50%);
	}
}

.container {
	padding-bottom: 90px;
}

.divider {
	margin: 10px auto;
	width: 70%;
	height: 2px;
}
