.carousel {
	position: relative;
}

.viewport {
	overflow: hidden;
}

.container {
	display: flex;
	will-change: transform;
	margin-left: -1rem;
	padding: 0;
}

.slide {
	flex: 0 0 auto;
	width: 80%;
	position: relative;
	padding-left: 1rem;
	counter-increment: embla;
}

.slideInner {
	background-color: rgb(40, 44, 52);
	position: relative;
	border-radius: 0.5rem;
	min-height: 200px;
	padding-bottom: 46%;
	font-size: 5rem;

	&::before {
		color: white;
		font-weight: 300;
		line-height: 1;
		content: counter(embla);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.button {
	background-color: transparent;
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	border: 0;
	justify-content: center;
	align-items: center;
	padding: 0;

	&:not(:disabled) {
		cursor: pointer;
		fill: #1bcacd;
	}

	&:disabled {
		fill: #e9e9e9;
	}
}

.buttonPrev {
	left: 0.7rem;
}

.buttonNext {
	right: 0.7rem;
}

.dots {
	position: absolute;
	margin-top: 1rem;
	display: flex;
	list-style: none;
	padding-left: 0;
	justify-content: center;
	left: 0;
	right: 0;
	top: 100%;
}

.dot {
	background-color: transparent;
	cursor: pointer;
	position: relative;
	padding: 0;
	margin-right: 0.75rem;
	margin-left: 0.75rem;
	border: 0;
	display: flex;
	align-items: center;

	&::after {
		background-color: #efefef;
		width: 100%;
		height: 0.4rem;
		content: "";
	}
}

.selected {
	&::after {
		background-color: #1bcacd !important;
		opacity: 1;
	}
}

.draggable {
	cursor: grab;
}

.dragging {
	cursor: grabbing;
}
