.level {
    background-size: cover;
    height: 100%; 
    width: 100%;
}

.level-grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.level-grid {
    height: 100%; 
    width: 100%;
}