.level {
    background-size: cover;
    height: 100%; 
    width: 100%;
}

.level-grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.level-grid {
    height: 100%; 
    width: 100%;
}

.level-desc {
    height: 100%; 
    width: 100%;
    background: radial-gradient(ellipse at 80%, rgb(0, 48, 138) 0%, rgb(14, 14, 14) 110%);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 1);
}